<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Rest API CRUD project - Pellé Servan</title>
    </head>
    <body>
        <header>
            <h1>Rest API CRUD project - Pellé Servan</h1>
            <nav>
                <a th:href="@{/players}" class="btn-link">Players</a>
                <a th:href="@{/teams}" class="btn-link">Teams</a>
            </nav>
        </header>
    </body>
</html>
